[Socket]
BindIPv6Only=both

### sockets for the HTTP reverse proxy
# fd/3
ListenStream=[::]:80

# fd/4
ListenStream=[::]:443

# fdgram/5
ListenDatagram=[::]:443

### socket for the admin API endpoint
# fd/6
ListenStream=/srv/caddy/socket/caddy.sock
SocketMode=0600
SocketUser=test
SocketGroup=test

[Install]
WantedBy=sockets.target
