[Container]
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/library/caddy
Notify=true
Volume=%h/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy_config.volume:/config
Volume=caddy_data.volume:/data
