[Unit]
AssertPathExists=%h/Caddyfile
AssertPathIsDirectory=%h/caddy_static

[Container]
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/library/caddy
Network=mynet.network
Notify=true
Volume=%h/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=%h/caddy_static:/static:Z,ro
Volume=caddy_config.volume:/config
Volume=caddy_data.volume:/data
