{
	# The sockets that are defined in the file caddy.socket
	# are created by the systemd user manager. Those sockets
	# are inherited by caddy. Note, these sockets are not
	# created in the same network namespace that caddy is
	# running in. Instead they were created in the initial
	# user namespace.

	# 2nd socket in the file caddy.socket
	default_bind fd/4 {
		protocols h1 h2
	}

	# 3rd socket in the file caddy.socket
	default_bind fdgram/5 {
		protocols h3
	}
	admin unix//run/admin.sock

	auto_https disable_redirects
}

http:// {
	# 1st socket in the file caddy.socket
	bind fd/3 {
		protocols h1
	}
	redir https://{host}{uri}
	log
}

whoami.example.com {
	reverse_proxy whoami:80
	log
}

static.example.com {
	root * /static
	file_server
	log
}

# Configure listening sockets on the custom network mynet.network
# These sockets are created by caddy and will thus be in the same
# network namespace that caddy is running in.

# listen on custom network
http://whoami.example.com {
	bind 0.0.0.0 [::1] {
		protocols h1
	}
	reverse_proxy whoami:80
	log
}

# listen on custom network
http://static.example.com {
	bind 0.0.0.0 [::1] {
		protocols h1
	}
	root * /static
	file_server
	log
}

# listen on custom network
https://whoami.example.com {
	bind 0.0.0.0 [::1] {
		protocols h1 h2 h3
	}
	reverse_proxy whoami:80
	log
}

# listen on custom network
https://static.example.com {
	bind 0.0.0.0 [::1] {
		protocols h1 h2 h3
	}
	root * /static
	file_server
	log
}
