[Container]
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=localhost/caddy
Network=mynet.network
Notify=true
Volume=%h/Caddyfile:/etc/caddy/Caddyfile:Z
