[Unit]
AssertPathIsDirectory=%h/caddy_etc
AssertPathExists=%h/caddy_etc/Caddyfile

[Service]
ExecReload=podman exec caddy /usr/bin/caddy reload --config /etc/caddy/Caddyfile --address unix//run/admin.sock --force
Sockets=caddy.socket

[Container]
ContainerName=caddy
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/library/caddy
Network=mynet.network
Notify=true
Volume=%h/caddy_etc:/etc/caddy:Z
