{
	admin unix//run/admin.sock
	auto_https disable_redirects
}

http://whoami.example.com {
	bind fd/3 {
		protocols h1
	}
	log
	reverse_proxy whoami:80
}

http://nginx.example.com {
	bind fd/3 {
		protocols h1
	}
	log
	reverse_proxy nginx:80
}
