[Container]
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/library/caddy:2.9.0-beta.3
Network=none
Notify=true
Volume=%h/Caddyfile:/etc/caddy/Caddyfile:Z
