[Container]
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/library/caddy
Network=none
NoNewPrivileges=true
Notify=true
ReadOnly=true
Volume=%h/Caddyfile:/etc/caddy/Caddyfile:Z
