[Container]
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/library/caddy
Network=none
Notify=true
Volume=%h/Caddyfile:/etc/caddy/Caddyfile:Z
